[2018-10-26 02:38] orthodoc opened #1 "indexeddb not available error"
This lib falls back on using keyknox library to manage keys locally and in local storage.

Local storage is thereby restricted to using indexeddb which is not uniformly supported in all browsers.

Can we configure it to use localforage which has fallback options to websql and local storage in case indexddb is not available? In any case, the private key is stored in an encrypted format!!

[2018-10-26 10:40] xlwknx commented on #1
As that lib is in active development, for now we are targeting modern browsers with IndexedDb support. Thank you for your question, that will help to cover your use case in the future, when our core API will stabilize. For now you could try to shim IndexedDb with this polyfill: https://github.com/axemclion/IndexedDBShim

[2018-10-26 15:13] orthodoc commented on #1
Thank you.

[2018-10-27 12:06] orthodoc opened #2 "typo in import statement"
In `EThree.ts` the second import statement

[code]
should be

[code]

[2018-10-27 12:30] orthodoc commented on #2
Easy PR. But I am not able to run the tests due to this error:
[code]
Resolved this by running: `npm install virgil-crypto --save` to install a node add on

Now the test suite has failing tests.

[2018-10-27 18:44] xlwknx commented on #2
Could you show error logs from test?

[2018-10-28 01:10] orthodoc commented on #2
[code]
All relate to inability to get the publicKey

[2018-10-29 12:47] xlwknx commented on #2
I wasn't able reproduce this behavior, can you specify next information
1. do you use yarn or npm ?
2. Your platform
2. `node -v` command output
3. `npm -v` command output
4. `git diff 9fe8d2aadba04135d2a2ba20b2012809725ca406` command output

[2018-10-30 08:50] orthodoc commented on #2
Fixed by commit ff441679df81fe72c73d757f233ee04b2648cd33

Not relevant any more. Thanks @xlwknx

[2018-10-30 08:50] #2 closed

[2018-10-30 18:56] orthodoc opened #3 "cannot npm install from github"
as dist folder is in .gitignore cannot do npm install from github

can you please release with the updated import statement now for use in the project?

thanks

[2018-11-01 22:18] #1 closed

[2018-11-02 12:34] xlwknx commented on #3
@orthodoc  Why do you need instal from github?
Dist folder intentionally in .gitignore. You can install it from npm or through npm link locally

[2018-11-02 12:39] orthodoc commented on #3
@xlwknx at that time, the release was at 0.1.0 and the master branch carried your changes. Now that you have released 0.1.1 the issue is no longer relevant. Thank you.

[2018-11-02 12:39] #3 closed

[2019-01-16 11:20] yiytan92 opened #17 "Trying to implement e3kit on Expo but getting this error on EThree.initialize [TypeError: `renewJwtFn` must be a function]"
Could someone explain this error? Occuring on this line:
const eThreePromise = yield api('virgil-jwt', 'GET', authToken, {
        }).then(virgilResponse => {
            console.log('virgilREsponse :', virgilResponse)
            console.log("GOT VIRGIL JWT")
            return EThree.initialize(Promise.resolve(virgilResponse.virgilToken), { keyEntryStorage })
        }).catch((error) => {

[2019-01-16 13:09] xlwknx commented on #17
@yiytan92
So where the error, or error log maybe?

[2019-01-16 14:55] xlwknx commented on #17
Oh I see, it in the title.
And I see you got response here: https://github.com/VirgilSecurity/virgil-sdk-javascript/issues/46 and didn't implement it.

[2019-01-17 07:57] yiytan92 commented on #17
I managed to fix it. I npm installed buffer and included it as a global variable.
If i'm getting this, i assume it's a good sign
IdentityAlreadyExistsError: This identity is already registered on Virgil Cloud. To load private key use EThree.restorePrivateKey or EThree.rotatePrivateKey

[2019-01-17 09:34] yiytan92 commented on #17
I have a question, if we handle eThree initialization in our authentication flow, but I want to call the encryption functions as well as the look up public key functions in a different component (such as in chatrooms), I couldn't find any examples of the eThree object being passed down to different components. I tried it myself but I couldn't achieve it. Basically, is there a way to call eThree fu

[2019-01-17 10:10] xlwknx commented on #17
1. IdentityAlreadyExistsError. Register method should call only once after user is registered. After you call register method, you create private key with user identity and it is taken. Like if you register email and cannot register another email.
2. It is all depends on your javascript setup, ecosystem, framework, which programming patterns you use and etc. It is all up to you.
For example in [th

[2019-01-18 11:13] yiytan92 commented on #17
calling eThree.encrypt is taking about 2-4 seconds for the function to encrypt whatever message i pass in it. I was wondering if it takes just as long for you guys? Any tips to improve on the performance? My code currently initializes the EThree object function at every new chat window( since the recipient public keys are all different)

[2019-01-18 15:02] xlwknx commented on #17
Encrypt and decrypt can take a while if you encrypt hundreds of kilobytes. For that case our [crypto library](https://github.com/VirgilSecurity/virgil-crypto-javascript) supports stream encryption. You can find examples here: https://github.com/VirgilSecurity/virgil-crypto-javascript/blob/master/examples/streams/node-streams.js or here for web: https://github.com/VirgilSecurity/virgil-crypto-javas

[2019-01-18 15:16] xlwknx commented on #17
And could you provide me the code, which has that performance issues?
Also, what size of the message and how many public keys are you use for encryption?

[2019-01-22 06:07] yiytan92 commented on #17
`    sendMessage = async () => {
        const { message } = this.state
        const eThree = this.state.eThree;
        const usersToEncryptTo = chat.users.filter(user => user !== user.username);
        const publicKeys = await eThree.lookupPublicKeys(usersToEncryptTo);
        const encryptedData = await eThree.encrypt(new ArrayBuffer(), publicKeys);
        const encryptedText = await eThree.

[2019-01-22 12:07] xlwknx commented on #17
@yiytan92
`const publicKeys = await eThree.lookupPublicKeys(usersToEncryptTo);`
This is network request to Virgil Cloud. It could take a time depends on your network connection speed. You could cache this keys, and perform this action separately from encryption. For example you can fetch user keys on chat windows open.
Encrypt for text message should work for `~130ms` average.
For large texts or f

[2019-01-25 08:01] yiytan92 commented on #17
@xlwknx I truly thank you for all the help you've provided me. I've tried improving the performance of eThree.decrypt but it's still taking about 3-4 seconds on average. I will keep investigating the issue. I'm quite satisfied that i've achieved end-to-end encryption and decryption on my app, but I was wondering, when I generate the Virgil JWT, is there a way to set it to not expire? Because I don

[2019-01-25 11:19] yiytan92 commented on #17
I tried passing in 1 year in milliseconds:
const generator = new JwtGenerator({
    appId: config.virgil.appId,
    apiKeyId: config.virgil.apiKeyId,
    apiKey: virgilCrypto.importPrivateKey(config.virgil.apiPrivateKey),
    accessTokenSigner: new VirgilAccessTokenSigner(virgilCrypto),
    millisecondsToLive: 31536000000 //1 year expiry
});

But I end up getting this error on my front-end:  [Unha

[2019-01-25 11:42] vadimavdeev commented on #17
No, there's no way to generate a JWT that never expires and that's by design. JWTs are meant to be short-lived because there is no way to revoke them, i.e. once you issue a JWT for a user, it can be used to make authenticated requests on behalf of that user for as long as you set it to live and there is currently no way to stop the Virgil Cloud from accepting it.

Imagine one of your JWTs becomes

[2019-01-28 06:10] yiytan92 commented on #17
@vadimavdeev For example, in my situation, my chat application is using eThree for message encryption. The default virgil Jwt expires in 20 minutes, so whenever I make calls to eThree after the 20 minutes, i get (VirgilHttpError: JWT is expired) because as you said the e3Kit will request a new refresh token.  Meaning every 20 minutes, I will have to call my endpoint to generate jwt token again? I'

[2019-01-28 10:31] vadimavdeev commented on #17
Why is that a problem to call an endpoint once every 20 minutes? Don't you call other endpoints during the lifetime of you app? If so, how is calling a JWT endpoint different?

The Virgil Cloud will reject JWTs with more than 24 hours of lifetime. So you can't specify more than that.

That being said, I strongly suggest you make those tokes as short-lived as possible and call your endpoint to gene

[2019-01-29 09:14] xlwknx commented on #17
@yiytan92 It means that you don't have private key on the device. If you call `cleanup` or clean your browser indexedDB storage, you deleting private key on device, so you need to download with `restorePrivateKey`. If you didn't `backupPrivateKey` you need to do it or don't delete private key from device. To obtain a new private key for identity which is registered you use `rotatePrivateKey`.

[2019-02-05 11:58] #17 closed

[2019-03-29 08:43] paolospag opened #24 "[React Native] Why fetch stops to work and other issue about hasLocalPrivateKey"
Hello,
I’m trying to set up a test chat app end-to-end encryption based with `react-native-firebase` and `virgil-e3kit-js` following the `e3kit` SDK [official guide](https://developer.virgilsecurity.com/docs/use-cases/v5/encrypted-communication-for-firebase) for Firebase, but I had a couple of problems that I am going to illustrate.

First of all, after `e3kit` SDK installation, `fetch` stops to w

[2019-03-29 15:39] xlwknx commented on #24
Hi, @paolospag
I'm investigating your issues, thank you for all provided information.

[2019-03-29 16:47] xlwknx commented on #24
Okay, fetch is not working in debug mod, so that's why I required it. It seems to be react native bug.
Fetch isn't used anywhere in the our packages, except function that receive a token.

About the second problem, I cannot reproduce it. Could you please share reproducible code with me? It will help to locate the problem faster.

[2019-03-29 17:22] paolospag commented on #24
Hi @xlwknx
thanks for your support.

Fetch worked fine even in dev mode before I installed the SDK. So why?

For the second problem, I can send you a package by email next week. Can you give me your email address?

[2019-03-29 17:29] xlwknx commented on #24
@paolospag
Oh, it used in our root Virgil SDK, so it can be our fault. Thanks for pointing that.
My email is asmirnov@virgilsecurity.com

[2019-04-01 06:10] qualwebs opened #25 "MultipleCardsError: "There are several public keys registered with identity, which is not supported"
Before using **e3kit**, I was developing with core libraries of Virgil security but after a few days of setup I am continuously getting an error when I am calling,

	const encryptedMessage = virgilCrypto.signThenEncrypt(message, senderPrivateKey,receiverPublicKey);

Where it was working fine, I had completed all the steps to encrypt and decrypt. So now I have started looking at **e3kit**, but when

[2019-04-01 08:09] xlwknx commented on #25
Hi, @qualwebs

I'm not sure why you receiving first error, my colleague @vadimavdeev will try to help you.

About e3kit error: it has programmatically restriction on client side to ensure that one user has only one card. But you can create multiple cards with Virgil SDK on Virgil Card Service. So you need to use e3kit only or keep one card for one identity.
1. If you just have started develop the

[2019-04-01 08:52] vadimavdeev commented on #25
@qualwebs It would be helpful to see the arguments you pass into the `signThenEncrypt` call and full error call stack as well. The `signThenEncrypt` function does a lot of things under the hood, so we need to know where exactly does it produce such error, because the error is too generic.

[2019-04-01 09:04] paolospag commented on #24
Hi @xlwknx
I sent you an email with all specifications.

I hope you can help me solve the problem.

[2019-04-02 04:33] qualwebs commented on #25
Thank you for the reply @vadimavdeev
Here is the function to encrypt the message.
[code]
In the function, I am receiving the card from Virgil for both sender and receivers so in future sender also will be able to see its messages, retrieving the private key of the sender from the local storage and passing all data to _signThenEncrypt_.
This is the error returned...
![screenshot_254](https://user-i

[2019-04-02 11:26] vadimavdeev commented on #25
@qualwebs Could you please log the `readersPublicKeys` array and paste the output here? Preferably as text. I'm interested in properties `identifier` and `key` of each public key, the following code does what I need:

[code]

[2019-04-02 14:50] qualwebs commented on #25
Hello @vadimavdeev , this is the output returned by running the suggested code.
`Identifier: XFEf1UJ/quU= Key: MCowBQYDK2VwAyEA8cjoNG9fWoCxJKCMkEVxcHiuNWrReqldXprbNi9C8b8= Identifier: XFEf1UJ/quU= Key: MCowBQYDK2VwAyEA8cjoNG9fWoCxJKCMkEVxcHiuNWrReqldXprbNi9C8b8= Identifier: XFEf1UJ/quU= Key: MCowBQYDK2VwAyEA8cjoNG9fWoCxJKCMkEVxcHiuNWrReqldXprbNi9C8b8= Identifier: XFEf1UJ/quU= Key: MCowBQYDK2VwAyEA

[2019-04-03 11:06] xlwknx commented on #24
Good news, @paolospag!
We found the origin of the problem, bug was appeared when `virgil-key-storage-rn` was used with `react-native-firebase`. We fixed that problem, so please update [virgil-key-storage-rn](https://www.npmjs.com/package/@virgilsecurity/key-storage-rn) to version `0.1.3`, it should help.

About fetch problem, we cannot fix it without breaking change and this case is not worth it.

[2019-04-03 12:23] paolospag commented on #24
Thanks for the support @xlwknx ,
I'll try to update `virgil-key-storage-rn` and I'll let you know.

About `fetch`, I would like to understand if it is possible to create a cloud function and call it via firebase `httpsCallable()` method, e.g. `firebase.functions().httpsCallable('getVirgilJWT')` thus avoiding using `fetch`. Moreover this would help me not to upset the structure of my already existi

[2019-04-03 13:32] vadimavdeev commented on #25
The problem is that you have duplicate public keys - only two out of seven keys are unique. The keys identifiers must be unique for encryption to succeed. You need to figure out why you have duplicate public keys. There is no way you could have created multiple cards with the same identity AND public key.

[2019-04-04 07:51] xlwknx commented on #24
@paolospag please tell the results was the fix successful and if everything is ok, we can close this issue.

I think there is no problem to make firebase function callable through firebase library.

For all further questions I invite you to our [slack](https://virgilsecurity.com/join-community) and write me directly or via #firebase channel.

[2019-04-05 14:09] qualwebs commented on #25
Actually, I am working on a web messaging application where users can log in from different systems, so whenever user login it finds a key in local storage and if it is not available it creates new and publish.

About the same identity, I am sure, identity will be the same every time but the same public, maybe because I am using brain key with the same password every time.

If it is not the right

[2019-04-05 14:42] vadimavdeev commented on #25
I was wrong, turns our you can create multiple cards with the same identity and public key, if their `created_at` instant is different. So, in your case you need to filter out the duplicate keys from the `readersPublicKeys` array before encrypting. Something like that:
[code]

[2019-04-10 07:28] parthya opened #27 "Clarification on eThree.rotatePrivateKey()"
We have a situation where we missed backing up privateKey before clearing from local. And not there is publicKey for the user, but no privateKey.

Now, `EThree.rotatePrivateKey()` despite what the name suggests publishes new publicKey.

Is there anyway we can create new privateKey or even `register()` again by clearing the publicKey?

[2019-04-10 08:00] xlwknx commented on #27
Hi @parthya
`EThree.rotatePrivateKey()`is replacing old public key with new one. We keep one active public key for user in `E3kit`. But before you will `rotatePrivateKey`, the old public key will be active, so users can encrypt data for wrong public key. For this situation we have HTTP endpoint, which delete active  public key: https://developer.virgilsecurity.com/docs/api-reference/card-service/v

[2019-04-10 08:08] xlwknx commented on #27
Hi @parthya
`EThree.rotatePrivateKey()` is replacing old public key with new one. We keep one active public key for user in E3kit. But before you will `rotatePrivateKey`, the old public key will be active, so users can encrypt data for wrong public key. For this situation we have HTTP endpoint, which delete active public key: https://developer.virgilsecurity.com/docs/api-reference/card-service/v5#

[2019-04-10 09:00] parthya commented on #27
Thanks @xlwknx , certainly helpful. I will try deletion and confirm.

Of course, this is in development phase, when backing up wasn't done.

[2019-04-10 09:02] xlwknx commented on #27
I'm closing issue for now, but if you will have other questions, feel free to open it and write questions here.

[2019-04-13 10:33] parthya commented on #27
@xlwknx Tried https://developer.virgilsecurity.com/docs/api-reference/card-service/v5#search-cards-endpoint to find the card (get `content_snapshot` & `signatures`) for a particular `identity` but get 404 error.

[2019-04-15 20:47] xlwknx commented on #27
@parthya Could you please provide logs?

[2019-04-30 13:22] qualwebs commented on #25
Hello, @vadimavdeev thanks for the snippet and yeah this has worked for me. But, I had to move to eThree due to some synchronization issue between mobile and web. Now I am facing another issue with it. The problem what I am facing is at last. I register the identity, backup & restore the keys, encrypt the message, etc. The issue is with decryption and only receiver side. I am getting the error

![

[2019-05-10 23:39] maxogden opened #30 "Electron compatibility"
Hi, I'm trying to `import { EThree } from '@virgilsecurity/e3kit'` in an Electron 4.1.5 BrowserWindow w/ `babel-register@~6.22.0` and running into a number of issues. I was just wondering if there was a working Electron reference project I could check out.

First issue is when it tries to `import { EThree } from '@virgilsecurity/e3kit'` it gets to `dist/e3kit.browser.es.js` and fails with:

[code]

[2019-05-10 23:59] maxogden commented on #30
I'm trying to compile the `.ts` myself but also hitting errors:

[code]

[2019-05-11 00:14] maxogden commented on #30
Ok I got the typescript compiled (had to add `dom` to typescript config), but when loaded it fails at loading `virgil-crypto`.

[code]

Ideally I'd like to load the native version of the module, but I also noticed that `virgil-crypto` doesn't seem to host precompiled binaries for Electron (https://github.com/VirgilSecurity/virgil-crypto-javascript/blob/master/scripts/download-node-addon.js#L16).

[2019-05-11 09:30] xlwknx commented on #30
Hi @maxogden
This package currently not tested with Electron and NodeJS, so we don't have example project yet. We will add NodeJS support it the next releases. For now you could try to compile sources by yourself.
Problem with compilation is solving by running `npm rebuild`, because it seems to be compiled for another version of node. So precompiling should not be a problem.
[Virgil SDK](https://g

[2019-05-11 09:34] xlwknx commented on #27
@parthya Hope you solve your problem.
If you will need any further help, feel free to write your questions.

[2019-05-11 09:34] #27 closed

[2019-05-11 09:36] xlwknx commented on #25
@qualwebs so you need tp specify correct sender public key in decrypt function to ensure that it was signed by sender.

[2019-05-13 11:26] parthya commented on #27
@xlwknx sorry for not replying earlier.

We resolved the issue, well, by using different identity-key itself. So there was no need to delete those publicKeys (the ones without any private key backup).

Maybe having these rare admin features on the dashboard, could be a easier solution.

[2019-05-14 08:38] xlwknx commented on #27
@parthya hi, yes we will implement this functionality in our dashboard. But for now you can create new application in development phase and it will has no cards. Or just delete them.

[2019-06-13 07:24] paolospag opened #41 "EThree instance persists after sign-out/sign-in"
Hi,
I noticed a big limit when I sign-out with a certain account and sign-in with another account in the same device/navigation session, the `EThree` class instance persists even after the `cleanup` method:

[code]

If I try to get instance of `EThree`, I see previous user id and not the current signed-in user id:
[code]

I believe that this does not overwrite existing instances:
[code]
and it is

[2019-06-13 07:57] xlwknx commented on #41
Hi, @paolospag
1. `EThree.cleanup` doesn't delete saved instances of the class. It deletes local private key on the device.
2. `EThree.initialize` always returns a new promise which resolves with new instance.
3.
[code]
This works as expected. You resolve promise once by `await`. Then you save instance once. But you should rewrite `this.eThree` to make reference to a new instance. Make a new initi

[2019-06-13 09:10] paolospag commented on #41
Hi @xlwknx

1. I know `EThree.cleanup` deletes just the local private key, I mentioned it only because I previously thought it would also cancel all the istances
2. but seems not to work well (and now I'll explain why, see point 3)
3. this snippet code is found in a signed-in screen (like Profile screen) that re-renders every time user sign-out/sign-in:
[code]

I'm using your documentation code to

[2019-06-14 08:36] #25 closed

[2019-06-14 08:37] #30 closed

[2019-06-14 09:04] xlwknx commented on #41
@paolospag I'm try to explain again.
1. We have EThree class. `EThree.initialize` is a static method that returns `EThree` class `instance`.
In javascript it is impossible "cancel" instances outside of managed object. We don't store `eThree` instances at all. It is managed by application code. We just return instance. That's why cleanup doesn't delete outer instances. Instance get deleted by garba

[2019-06-14 09:04] #41 closed

[2019-06-14 11:37] paolospag commented on #41
@xlwknx everything you're saying makes sense to me, but I don't know why it's not working as I expect.
I've created a separated file called`eThree.js` and I did what you suggested in the #24 issue

but when I sign-out and sign-in with other account, `EThree` instance persists with previous account, not the current. I think the problem is just the separated file.
Is not related to `e3kit`, I agree,

[2019-06-14 11:58] xlwknx commented on #41
Try to assign eThree instance to common object property and re-assign it on another user is signing in.
Maybe import/export system in react native works another way then in browser webpack. Try to assign eThree instance to `global.eThreePromise` variable or to the property of the common object. But be sure that you do proper reassigning of that property.

But I'm not sure exactly what is your prob

[2019-06-19 06:16] vkkan opened #42 "Signature verification failed while decrypt"
We are integrated e3kit on our react native firebase chat module , everything works fine but when user has multiple cards[ Previous card entry] and send message other parties not able to decrypt using senders public key.

When I check the no of cards its 4 but I have only 3 users in that application , I am not able to delete the card using e3kit, I have tried installing CLI to do the same but no l

[2019-06-19 07:59] xlwknx commented on #42
Hi @vkkan.

Okay, I got your problem. When `rotatePrivateKey` is used by user, he gets new card (Private and Public Key pair). And you trying to decrypt message encrypted with old user private key. So when you try to decrypt message decrypted with old private key and using his new public key you getting `signing verification error`. So this is expected behavior.

`rotatePrivateKey` is used in case

[2019-06-19 10:20] vkkan commented on #42
Super , will adjust my key creation accordingly and will let you know about the cli

[2019-07-12 16:01] xlwknx commented on #42
@vkkan Hope everything went good.

[2019-07-12 16:01] #42 closed

[2019-07-18 05:48] techyroots opened #48 "Uncaught (in promise) ReferenceError: EThree is not defined"
HI I am trying to use this as in my PHP file by directly including via script tag, but it shows the error, how can I import it in the php file?

[2019-07-18 06:17] techyroots commented on #48
Sorry, it has solved it. Thank you

[2019-07-18 06:17] #48 closed

[2019-07-20 07:31] techyroots opened #50 "Erro: This Identity not registered"
Hi there,

I have already registered the user identity at signup time. But when i try to decrypt the message sent from another user. It says :

![Screenshot 2019-07-20 at 12 57 45 PM](https://user-images.githubusercontent.com/52959098/61575821-6aaa6100-aaee-11e9-89bd-065d9351a0b1.png)

Can any one help me here ?

[2019-07-22 08:30] vadimavdeev commented on #50
The error means that you don't have a private key in the device's local storage. Did you register the user on the same device \ browser that you now decrypt the message in? Did you call `backupPrivateKey` after registering? If you did, you can call `restorePrivateKey` to restore the private key from Cloud backup. If you didn't, you will need to call `unregister` to delete the user's public key in

[2019-09-09 19:18] hellogerard opened #57 "[React Native] Error: Unable to resolve module"
Hello,

Trying to use `0.6.0-beta.1` in a React Native app. I have all the underyling dependencies installed, but on app startup in the iOS simulator, I am getting the error below.

[code]

Just checking on disk, the `node_modules/@virgilsecurity/e3kit/dist/libfoundation.browser.wasm` is there.

Also, I'm on React Native 0.59. I know native package management changed a lot in 0.60, but that should

[2019-09-10 08:23] vadimavdeev commented on #57
Hello
It seems like you import the browser bundle instead of the react native one. How do you import `EThree`? It should be done like this (note the trailing `/native`):
[code]
This way react native bundler won't try to import any `.wasm` modules

[2019-09-10 09:02] vadimavdeev commented on #57
With react-native@0.59 I also needed to manually link the [react-native-keychain](https://github.com/oblador/react-native-keychain) library and move the `Pods_<MyTargetName>.framework` up before all of the libraries in XCode -> Target -> General -> Linked Frameworks and Libraries section

[2019-09-10 18:24] hellogerard commented on #57
Okay, I got it importing. I was doing the above things more or less. But my original import looked like this:

[code]

I am importing the error types so that, for example, if the backup password is invalid, I can allow the user to try again, versus other types of errors. I noticed right away that these are not exported anymore, but I thought leaving them in wouldn't hurt the import per se. Removin

[2019-09-11 16:28] vadimavdeev commented on #57
Yep, that's a mistake, we didn't do it on purpose. We'll add them back. For now, you can check the `name` property of the error object, which corresponds to the class name. For example:

[code]
 Personally, I prefer this method of checking the error type to `instanceof` checks

[2019-10-12 19:28] cardoso opened #63 "Improve error message on restorePrivateKey (entry doesn't exist)"
<img width="594" alt="Screen Shot 2019-10-12 at 4 21 02 PM" src="https://user-images.githubusercontent.com/5606812/66706745-2b666780-ed0d-11e9-9b56-d27b214abd8d.png">

"undefined is not an object" I think this is a bug when generating the error, but anyway:

I think this should be wrapped with PrivateKeyBackupNotFound() or something similar.

Version used: E3Kit JS 0.6.0 (On RN, but probably web a

[2019-10-15 14:11] #63 closed

[2019-10-15 14:18] snanovskyi commented on #63
Actually we have [PrivateKeyNoBackupError](https://github.com/VirgilSecurity/virgil-e3kit-js/blob/master/src/errors.ts#L70) 🙂
This error is specific to React Native. It should be fixed in the new release.

[2019-10-16 20:29] psico-digital opened #65 "Error on sign-in again after page refresh"
This is my login code:
[code]
When the user first signs in, everything works correctly, but when he refreshes the page and tries to sign in again, this error occurs:

`CompileError: WebAssembly.instantiate(): expected magic word 00 61 73 6d, found 3c 21 64 6f @+0`

The cloud function `getVirgilJwt` does not trigger anymore. PS: Auth and data are reset when the user refreshes the page.

Any idea?

[2019-10-17 09:46] snanovskyi commented on #65
Hi @psico-digital!

This error means that `.wasm` file is invalid. Maybe your local `.wasm` file got corrupted somehow. Try to remove `node_modules` and install packages again. It might help.

Otherwise we need more details on your environment (browser, E3kit version, etc.). Also a small demo that reproduces the problem would speed up this process a lot.

[2019-10-17 16:23] #65 closed

[2019-10-18 02:32] psico-digital opened #66 "Creating cards on server"
We have a practice management software for psychologists. In it, the psychologist can give access to the client portal to his clients. At the time of client creation, I need to generate his public key so that he can see his data later when the psychologist creates his access (new user in Firebase).

But when trying to create the client card on server, I noticed that the `register()` function only

[2019-10-18 14:53] rebeccaly commented on #66
Thanks for the question. Can you help me understand your use case and requirements more? Why could you not 1) register the new client and create the client's card with E3Kit and then store the private key on their device in the standard fashion provided by E3Kit, and then 2) the psychologist encrypts all data in that client's portal with the client's public key so that they both can access the dat

[2019-10-18 17:05] psico-digital commented on #66
It may work. I'll need to make some drastic changes here, but that's fine. Thanks @rebeccaly !

[2019-10-18 17:05] #66 closed

[2019-10-18 17:09] rebeccaly commented on #66
If we know more about what how your app is currently set up, we can try and help you find a solution without requiring drastic changes. Can you lay out the flow? Ex: 1) psychologist creates profile for client and encrypts client file data, 2) client registers, etc.

[2019-10-18 18:05] psico-digital commented on #66
**1) Psychologist creates client profile** (set a document in firebase firestore with basic information from client)
**2) The psychologist may or may not invite your client to use the portal** (in the invitation function, I register the client user on firebase auth using a temporary password and then send an email to the client with the access link and his credentials)
**3) The client accesses the

[2019-10-18 18:13] rebeccaly commented on #66
Would this flow work?
1) Psychologist creates client profile and encrypts the profile data for herself (the psychologist) only.
2) When the client logs in to register with Firebase, you also register the client with Virgil and the psychologist then sends/shares the encrypted file with the client, as they now have a Card in the Virgil Cloud and a private key stored on their device.

[2019-10-18 18:23] psico-digital commented on #66
Yes, it's possible. Not the way it is now, but from a drastic change, I'll just need a small change in the way the portal works. Thanks!

[2019-10-20 01:20] psico-digital commented on #66
@rebeccaly, I thought it would work, but all the data I create for the client before he creates his account, such as data from a therapy session, the client will not have access, right? Is there no way to generate only the client's public key at the time of his creation? Even with the core SDK?

[2019-11-25 15:15] rantwijk opened #82 ".AsyncStorageStatic is not assignable to type"
**Describe the bug**
Version: `"@virgilsecurity/e3kit": "^0.7.0-beta.2"`
Import: `import { EThree } from '@virgilsecurity/e3kit-native';`
After following the installation steps, a type error is shown related to AsyncStorage. When using AsyncStorage from react-native (deprecated), this error does not appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Virgil E3Kit SDK for React Nat

[2019-11-25 16:14] snanovskyi commented on #82
Hi @rantwijk !
It appears that typings for [@react-native-community/async-storage](https://github.com/react-native-community/async-storage/blob/LEGACY/types/index.d.ts#L54) and [react-native](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native/index.d.ts#L6841) are different 😔
We will get back to you as soon as we will fix it.
For now, you can cast your storage to oth

[2020-02-07 14:08] abhiram-n opened #89 "Error calling the decrypt function"
I'm using Virgil to implement an end-to-end encrypted chat. Things work fine when I attempt to encrypt text, however, I get the following when the recipient decrypts the text:

`TypeError: Could not get public key from the second argument.Expected a Virgil Card or a Public Key object. Got object`

This is on the following decrypt command:
`this.partnerPublicKey = await this.virgilUser.findUsers(pa

[2020-02-08 08:00] abhiram-n commented on #89
Fixed it finally by specifying the parameter for `findUsers` function as `identity `and not `identities`.

(I had already tried specifying the parameter for the `decrypt` function as ICard/PublicKey specifically but that hadn't worked)

[2020-02-08 08:00] #89 closed

[2020-02-11 14:11] cardoso opened #91 "KeyEntryAlreadyExistsError not being wrapped in React Native & is different from web"
RN (https://github.com/cardoso/demo-e3kit-react-native):

<img width="336" alt="Screen Shot 2020-02-11 at 10 54 51 AM" src="https://user-images.githubusercontent.com/5606812/74243833-2e736380-4cbf-11ea-9298-e73ac93d0673.png">

Web (https://github.com/VirgilSecurity/demo-e3kit-web):

<img width="1280" alt="Screen Shot 2020-02-11 at 11 10 42 AM" src="https://user-images.githubusercontent.com/5606812

[2020-02-19 19:01] brentvatne opened #95 "Support Expo managed workflow by allowing for alternative implementations of native modules"
**Is your feature request related to a problem? Please describe.**
This project currently depends on modules that are not included in the Expo SDK, but their functionality can be provided by other APIs that are in the Expo SDK:

- [x] @react-native-community/async-storage: import from React Native instead, Expo still exports it from there.
- [x] @virgilsecurity/key-storage-rn: this doesn't seem to

[2020-02-20 01:56] hyochan commented on #95
Thank you @brentvatne for opening an issue! If `react-native-keychain` is an only native dependent library, it would be easy to make it compatible with `expo`.

[2020-02-20 11:14] snanovskyi commented on #95
Hi guys 👋

First of all we like Expo and enjoy the DX and benefits it provides 👍

We also know about Expo APIs that can substitute some libraries(storage, keychain, etc.).
We even provide a way to use SecureStorage with previous version of our library as @brentvatne mentioned.

Unfortunately the problem is that our crypto library is much more than Node.js crypto API. That's why it's not easy to ma

[2020-02-20 22:09] Beaudinn commented on #24
Hey, I know this is an old topic. but have the same problem, I see that you have gone further through slack.
Have you come to a conclusion?
I use the Virgil E3Kit SDK for React Native have tried different things even tried in a clean project with no success.

[2020-02-21 10:01] xlwknx commented on #24
@Beaudinn could you please describe your problem in more details? Tell us:
1. Your react-native version
2. Error logs
3. Which virgil packages are you using and their versions
4. Sample code which reproduces your problem would let as to help you as fast as possible. But if is it not an option you can send here e3kit initialization code and the code, which cause the problem.

[2020-02-21 10:04] snanovskyi commented on #95
To sum up, you need to eject Expo project or create React Native project without it.

If you need help setting up your project you can jour our [Slack community](https://virgilsecurity.com/join-community) and get in touch with our team there.

[2020-02-21 10:04] #95 closed

[2020-02-21 11:03] Beaudinn commented on #24
@xlwknx here is my setup

**My react-native version and virgil packages.**
"react": "~16.9.0",
"react-native": "~0.61.5",
"@virgilsecurity/e3kit-native": "^2.0.0",
"@virgilsecurity/key-storage-rn": "^0.2.2",
"react-native-virgil-crypto": "^0.5.3",
 "react-native-keychain": "^4.0.5",
"@react-native-community/async-storage": "^1.8.0",

**Error logs**
`YellowBox.js:71 Possible Unhandled Promise Rejec

[2020-02-21 11:57] snanovskyi commented on #24
Hey @Beaudinn!

Thank you for detailed report 👍

We saw similar issue for a few times already. It happens in [virgil-key-storage-rn](https://github.com/VirgilSecurity/virgil-key-storage-rn) because Keychain has some invalid data that we can't read properly.

Right now we don't have a proper fix for it and we're trying to figure out the best way to do it. Hopefully we will release an update soon.

[2020-02-21 12:43] Beaudinn commented on #24
Aah thanx @snanovskyi ! makes sense now. and it is resolved!

[2020-02-21 12:49] #24 closed

[2020-02-22 04:57] hyochan opened #97 "Failed to run on ios with expo unimodules"
**Describe the bug**
Failed to install [virgil react-native sdk](https://github.com/VirgilSecurity/virgil-e3kit-js/tree/master/packages/e3kit-native) in ios. (Not yet tested in android).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the project [hackatalk-mobile](https://github.com/dooboolab/hackatalk-mobile)
2. cd hackatalk-mobile && git checkout intl/virgil-security
3. cd ios && po

[2020-02-24 10:22] snanovskyi commented on #97
I followed your steps and received this error during `pod install`:
[code]

Right now I don't have a solution for you. I'll let you know when I come up with something for this.

[2020-02-24 10:56] hyochan commented on #97
Thanks for trying out! I've referred to [cocoapod issue](https://github.com/CocoaPods/CocoaPods/issues/7234) previously and it didn't help 😢 .

[2020-02-24 11:07] hyochan commented on #97
@snanovskyi Actually I've just resolved `pod install` in [commit here](https://github.com/dooboolab/hackatalk-mobile/pull/111/commits/73c386e8a46e8a5639d5f220d8969a70dec1aa99). Now you can pass the pod install.
<img width="899" alt="Screen Shot 2020-02-24 at 8 03 39 PM" src="https://user-images.githubusercontent.com/27461460/75147532-e03f7500-5740-11ea-9372-09982872935a.png">

However, the problem

[2020-02-24 11:23] snanovskyi commented on #97
I've managed to build your project by adding the following lines to the files:
- node_modules/@unimodules/react-native-adapter/ios/UMReactNativeAdapter.podspec
[code]
- node_modules/expo-google-sign-in/ios/EXGoogleSignIn.podspec
[code]
- node_modules/expo-image-picker/ios/EXImagePicker.podspec
[code]
- node_modules/unimodules-permissions-interface/ios/UMPermissionsInterface.podspec
[code]

It's no

[2020-02-24 11:25] hyochan commented on #97
I've opened up `xcode` and currently seeing below.

![image](https://user-images.githubusercontent.com/27461460/75148781-cd7a6f80-5743-11ea-9263-3b6d7a5fcce5.png)

[2020-02-24 11:43] hyochan commented on #97
Thanks! Looks like adding `!use_framework` makes other `expo unimodules` not sticking to dynamic module either.  😞  I hope there be better integration.

Also, I am still suffering from build using @snanovskyi solution.
I don't understand why but trying it over several times installing `node_modules` and `pod repo update && pod install`.

[2020-02-24 11:49] hyochan commented on #95
@brentvatne How do you think about an [issue](https://github.com/VirgilSecurity/virgil-e3kit-js/issues/97#issuecomment-590275612) here? Do you think this update should be in `expo` or in `virgil` sdk?

[2020-02-24 17:54] snanovskyi commented on #97
Missing Expo dependencies were fixed in this commit https://github.com/expo/expo/commit/8c4d6e537998a5143380b6eba34831d612f8eeaa.

That fix will be published in [next version](https://github.com/unimodules/react-native-unimodules/issues/103#issuecomment-583561900) so you will need to update your dependencies as well.

[2020-02-25 15:59] hyochan commented on #97
@snanovskyi Thanks for helping to resolve the build issue and even pointing out on fixes in `expo`. I really appreciate your help and this wasn't even a `virgil` issue (just an integration problem 😞).

Feel free to close this since I am happy about it. I love the product and the way you guys work.
Thank you so much 🙏

[2020-02-26 10:41] #97 closed

[2020-02-26 13:19] hyochan commented on #82
![image](https://user-images.githubusercontent.com/27461460/75348395-179b5680-58e6-11ea-8b04-200a4060c709.png)

Same here!

[2020-02-26 14:22] hyochan commented on #82
This even fails the testing build since the `AsyncStorage` is different.
https://circleci.com/gh/dooboolab/hackatalk-mobile/504?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2020-04-08 15:38] #91 closed

[2020-04-15 06:18] hyochan opened #106 "ios build error in recent react-native 0.62.2"
**Describe the bug**
When running ios project, the build failed with below error that relates to [react-native-virgil-crypto](https://github.com/VirgilSecurity/react-native-virgil-crypto) in `react-native@0.62`. I am currently upgrading my `react-native` project in [PR](https://github.com/dooboolab/hackatalk-mobile/pull/126).

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://

[2020-04-15 11:54] snanovskyi commented on #106
Hi @hyochan 👋

React Native 0.62 includes Flipper by default. The problem is that Flipper doesn't work with `use_frameworks!`. Maybe they will change it later or provide a workaround for it.

So I've created a new project with react-native cli and did the following changes to make it work on iOS:
- Disable Flipper in [Podfile](https://github.com/dooboolab/hackatalk-mobile/blob/upgrade/react-native

[2020-04-16 08:27] snanovskyi commented on #106
Update: it works without any changes on Android.

Let me know if you have any issues with the solution.

[2020-04-16 08:46] snanovskyi commented on #106
Complete working example - https://github.com/VirgilSecurity/react-native-virgil-crypto/tree/master/examples/Example62

[2020-04-16 12:26] hyochan commented on #106
@snanovskyi Wow. I really appreciate your response. Thanks.
However, I thought we don't need `use_frameworks` any more [related to StackOverflow](https://stackoverflow.com/questions/41210249/why-do-we-use-use-frameworks-in-cocoapods). Could `virgil` be updated instead of `react-native` itself?

[2020-04-16 12:53] snanovskyi commented on #106
Thank you for that link!
As I mentioned in multiple issues across different repos, our React Native library uses https://github.com/VirgilSecurity/virgil-crypto-x under the hood for iOS and that library doesn't work without `use_frameworks!`.
I need some help from our iOS/Mac engineers to figure it out :)
@sanjoDeundiak @Ogerets

[2020-04-16 14:01] hyochan commented on #106
Looking into it. I really don't want to miss flipper. I bet engineers in your team may figure it out 🥂.
Here is [another link](https://stackoverflow.com/questions/33492873/using-cocoapods-without-use-frameworks-in-swift/49347198#49347198) 🙏

[2020-04-19 17:05] unktomi opened #107 "Recipient defined with id is not found within message info during data decryption."
Getting this error. What am i doing wrong?

[2020-04-19 18:23] unktomi commented on #107
This is occurring in decryptFile. However the same code calling decrypt on a buffer works as expected.

[2020-04-21 00:37] hyochan commented on #106
Are there any updates for using `use_framework`? I'm still hesitating to upgrade our `RN` version for the current issue.

[2020-04-21 11:19] SanjoDeundiak commented on #106
Hi @hyochan . Unfortunately we do not support dependencies on our native crypto libraries (that are used under the hood in react native case) without use_frameworks!. This is caused by many reasons (swift language, transitive dependencies, build specificities of our core C library, requirement for our iOS library to be available for both Carthage and CocoaPods users) and we are not able to change

[2020-04-21 14:53] hyochan commented on #106
Thanks for the assistance and for sharing plans for supporting this. However, I think using two package managers in an app isn't a good solution. Using both cocoapod and carthage may lead to some other problems we've not met yet. Most of the S/W problems occur in integration. I am pretty unhappy with this decision. I hope we can find a better solution.

This is just my opinion.

[2020-04-22 15:19] snanovskyi commented on #107
Hi @unktomi 👋

This error means that you messed up with keys somewhere in your application. You need to provide public key of recipient/sender to encryptFile/decryptFile methods respectively.

Also a simple code snippet or demo that reproduces the problem will help if you're sure that everything is right.

PS: Does this error occur in this example - https://github.com/VirgilSecurity/virgil-e3kit-j

[2020-04-22 16:37] unktomi commented on #107
Thanks. I figured it out. I was passing the wrong public key. my bad.

[2020-04-23 08:25] snanovskyi commented on #107
👍

[2020-04-23 08:25] #107 closed

[2020-05-07 21:50] camhart opened #109 "npm install version 2.2.1 broken"
**Describe the bug**
`npm i @virgilsecurity/e3kit-browser` doesn't work

**To Reproduce**
`npm i @virgilsecurity/e3kit-browser`

Output:
[code]

**Expected behavior**
Should install latest version

**Desktop (please complete the following information):**
 - OS: windows 10 64 bit, npm version 6.13.7

[2020-05-07 21:51] camhart commented on #109
I should add, it works if you do `npm i @virgilsecurity/e3kit-browser@2.2.0`

[2020-05-07 21:56] camhart opened #110 "NPM Readme missing webpack instructions"
**Describe the bug**
I'm trying to use this with webpack, and I get the following error.

[code]

**Desktop (please complete the following information):**
 - OS: windows 10 64 bit, webpack

Even if I follow npm's suggestions, and run
Run `npm install --save a module`
I still get the following error:
[code]

[2020-05-07 22:04] camhart commented on #110
The readme in this repo points out specific things you need to do in order for this to work with webpack.  I'm working through them now--however the readme at NPM doesn't mention these things.

[2020-05-07 22:07] camhart commented on #110
Adding the following to webpack.config.js appears to have fixed the issue:
[code]

[2020-05-07 22:08] camhart commented on #110
Reopening in case you want to adjust NPM's readme to include the bits about webpack.

[2020-05-07 22:10] xlwknx commented on #109
Hi, @camhart !
Thank you contacting us, problem was fixed.
Please try to install `@virgilsecurity/e3kit-browser@2.2.1`

[2020-05-12 12:42] #109 closed

[2020-05-12 14:42] #106 closed

[2020-05-16 11:54] orthodoc opened #113 "Unit test fail due to missing declaration file"
**Describe the bug**
When running unit tests, the app fails to build (test build) with the following error:
`ERROR in node_modules/@virgilsecurity/e3kit-base/dist/types/GroupLocalStorage.d.ts:1:22 - error TS6053: File '/Users/bdb/projects/binder/node_modules/@virgilsecurity/e3kit-base/declarations.d.ts' not found.`

**To Reproduce**
Steps to reproduce the behavior:
1. Install with `npm i -S @virgi

[2020-05-21 05:56] orthodoc commented on #113
Thanks for adding the declaration file. Got to check this out.

[2020-05-21 08:59] #113 closed

[2020-05-21 09:23] xlwknx commented on #113
Hello, @orthodoc !
Sorry for a late response, the declaration file is fixed in [v2.3.1](https://www.npmjs.com/package/@virgilsecurity/e3kit-browser/v/2.3.1)
I wasn't able to reproduce this problem, so please report how it works for you!

[2020-05-22 15:31] orthodoc commented on #113
@xlwknx unfortunately the build process fails with this error:
[code]
Though `angular.json` is configured this way
[code]
the build process seems to be happening before the required assets are copied to the build folder. My destination folder is a sub folder. I don't know if this is impacting the copy process.

[2020-05-22 16:14] xlwknx commented on #113
@orthodoc how you import the  EThree instance?
EThree for Ionic should be imported also from `dist` folder:
[code]
This is not documented yet, but we working example here:
https://github.com/VirgilSecurity/virgil-e3kit-js/tree/master/examples/ionic

[2020-05-24 15:39] orthodoc commented on #113
This may have been the issue. Let me give it another try.

[2020-05-26 18:13] orthodoc commented on #113
The backend function is a callable function, while the ionic example in this repo makes an api call to the firebase function for generating virgil jwt.
`ionic build` fails to build as a result even though i have a callable function and the appropriate code on the front end to make that call.
So in the end, I am not able to implement e2e.

[2020-05-26 20:03] camhart opened #115 "npm install failed"
**Describe the bug**
I need to modify e3kit to provide multi-card support, so I'm trying to clone the repo and build it as is then extend.  What is needed to build this package(s) properly?  I attempt to do `npm install` and most every command fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ./packages/e3kit-browser
2. `npm install`
3.  Errors out

[code]

**Expected behavior**
I

[2020-05-27 08:50] xlwknx commented on #113
Hi @orthodoc
I don't quite understand the problem, could you please send an error log of `ionic build` command?

[2020-05-27 09:56] xlwknx commented on #115
Hi @camhart !
We are using yarn workspaces and lerna, so you need to run `yarn install`at the root of the project to install dependecies and link packages.
Also I google this issue, it connected with that is `rollup` bash script is used on windows:
https://github.com/rollup/rollup/issues/1753#issuecomment-346673575

[2020-05-27 09:57] #115 closed

[2020-05-27 19:58] camhart commented on #115
Thanks!  Doing it on ubuntu worked.  You should add this to the readme :D.

On Wed, May 27, 2020 at 2:57 AM Alexey Smirnov <notifications@github.com>
wrote:

[2020-05-28 10:54] xlwknx commented on #110
We might also add build process info #115

[2020-05-29 19:35] camhart opened #116 "e3kit-node doesn't run on electron"
**Describe the bug**
I can't seem to get e3kit-node to run on electron.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Download Electron Fiddle (https://github.com/electron/fiddle/releases/tag/v0.15.0)
2. Load https://gist.github.com/249c489a30439d2f9ab9911cfe6d6d38 within electron fiddle
3. Add the token callback code in `main.js` line 8

**Expected behavior**
E3kit-node should wor

[2020-05-29 20:23] camhart commented on #116
I believe I found a way to solve this using undocumented initialization options:
[code]

[2020-05-29 20:23] #116 closed

[2020-05-30 19:02] orthodoc commented on #113
I was working on a separate branch, so the delay.

I have integrated the encrypt service and pushed to the `encrypt` branch of this repo: [Binder](https://github.com/orthodoc/binder).

It's a long output. I have a separate firebase/functions folder that should not be part of the build process. I checked `angular.json` in this regard, and found nothing of that sort. But the error output primarily r

[2020-06-01 19:12] xlwknx commented on #110
TODO: add #116

[2020-06-01 20:00] camhart opened #117 "IsInvalidPath buggy on Windows"
**Describe the bug**
IsInvalidPath returns true forwindows paths when they start with `{driveLetter}:`.

**To Reproduce**
Try running  `e3kit.EThree.initialize` on Windows with a custom absolute path value as dir path for KeyEntryStorage it'll throw TypeError `'groupStorageName' is not a valid path`.  This is due to IsInvalidPath not handling {DriveLetter}: (ie, C:)--see https://github.com/jonschl

[2020-06-02 15:03] #117 closed

[2020-06-02 15:24] xlwknx commented on #117
Hello again, @camhart !
I'm fixed this, package already published on npm with v2.3.2 version, please check it out.
Check with `is-invalid-path` was useless, because `mkdirp`can throw errors by itself.

[2020-06-03 18:01] camhart opened #119 "Update virgil sdk to 6.1.2 please :D"
Update virgil sdk to 6.1.2 please :D

I need the fetch-ponyfill update

[2020-06-04 11:08] xlwknx commented on #119
Published!

[2020-06-04 11:08] #119 closed

[2020-06-10 00:32] camhart opened #121 "Can't initialize e3kit-browser in web worker"
**Describe the bug**
When you attempt to initialize eThree in a Web Worker you'll get a `document is not defined` error:

[code]

document is not available in web workers.  I'm trying to hunt down where the reference is--most the places I find already do a check to verify it's there.

[2020-06-10 01:30] camhart commented on #121
Appears to be within:
[code]

[2020-06-10 04:15] camhart commented on #121
I'm thinking this may have to do with the wasm files.  Perhaps it's not loading the worker one?  Manually setting the wasm file paths upon initialization doesn't work in the browser it seems (at least not like in node).

[2020-06-10 09:16] xlwknx commented on #121
E3kit for Web Worker has different entrypoint and should be imported like this:
[code]

[2020-06-10 09:56] camhart commented on #121
I still get the same error:
[code]

Sorry--I should have pointed out I tried both.  I wasn't positive that's what the worker ones were for--just guessed at it.

[2020-06-11 09:31] xlwknx commented on #121
Thank you for report, I need a time to investigate this issue. It will be ready no earlier than next week.

[2020-06-11 10:21] camhart commented on #121
Thanks for letting me know.  I'll switch tasks and come back to this once you've had time to look at it.

[2020-06-13 21:50] camhart commented on #121
@xlwknx I found out the performance issues were from my own code--not e3kit.  So no rush on this.  When you have it ready I would like to measure the performance impact though.

[2020-06-19 17:39] capacitivellc opened #122 "TypeError: Invalid format of 'Data'. when starting /examples/backend"
**Describe the bug**
After creating a .env file from the contents of the Application Configuration generated by the Virgil Security Dashboard the node server will not start and outputs the error: TypeError: Invalid format of 'Data'.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a new app.
2. Copy the configuration to a new .env file inside /virgil-e3kit-js
3. Run `yarn start`
4. S

[2020-06-19 18:09] capacitivellc opened #124 "EThree.initialize() in ReactNativeSample or other projects throws an Error"
**Describe the bug**
After setting up the `example/backend` I cannot run the demo project on ios or android.

On iOS the error is:

JSON value '{
    encoding = base64;
    value = "MCowBQYDK2VwAyEAljOYGANYiVq1WbvVvoYIKtvZi2ji9bAhxyu6iV/LF8M=";
}' of type NSMutableDictionary cannot be converted to NSString

If you catch the error on .initialize() it returns: "ASN.1 representation of a public key i

[2020-06-24 10:39] #124 closed

[2020-06-25 18:06] camhart opened #126 "Offline intialization support"
**Is your feature request related to a problem? Please describe.**
I'm using e3kit in situations where the initial setup requires an active internet connection, but the devices may go offline periodically (including reboots during offline use) and still need to encrypt data (that will be sent once the internet connection is restored).  I'm caching all the card values I need to encrypt data for cur

[2020-06-25 18:16] camhart commented on #126
I created my own custom constructor that follows the example above.  This gets EThree to initialize, however I get the following error when attempting to encrypt data while offline:

[code]

[2020-06-25 18:58] camhart commented on #126
I created my own constructor following what I suggested above, and it appears to work.  So I'm happy with it.  I'll leave this issue open and let you decide if you want to close it now or later once the change is implemented.

[2020-08-07 22:18] camhart opened #131 "No way to close levelup instance"
There's no way to close the levelup database.  I have a situation where multiple instances of my application can be ran at once.  I'm having to hack in support for closing the levelup database.

[2020-08-10 08:31] dkosolap commented on #131
Hi @camhart!
I suppose we talk about e3kit-node?
Method `initialize` of e3kit instance has [groupStorageName](https://virgilsecurity.github.io/virgil-e3kit-js/e3kit-native/interfaces/ethreenativeinitializeoptions.html#groupstoragename) optional.
Try to add to instance specific name, it's could you help.
Here is an [example](https://github.com/VirgilSecurity/virgil-e3kit-js/blob/master/examples/nod

[2020-08-10 17:52] camhart commented on #131
How would I then close the level up instance?

On Mon, Aug 10, 2020, 1:32 AM Dmytro Kosolap <notifications@github.com>
wrote:

[2020-08-12 13:55] dkosolap commented on #131
At this moment we don't have such functionality, but in the nearest future we are going to add it.
I will let you know when it's ready.

[2020-11-23 12:32] davidbiller opened #132 "authorization token is invalid or contains invalid field(s)"
Get this error:

virgil token: eyJhbGciOiJWRURTNTEyIiwia2lkIjoiMTZlNjE4NjkxMzBiZWQ1N2ZiMmVkMThlYzJhOGY5YWMiLCJ0eXAiOiJKV1QiLCJjdHkiOiJ2aXJnaWwtand0O3Y9MSJ9.eyJpc3MiOiJ2aXJnaWwtY2hhdC1pdDJtYXRjaCIsInN1YiI6ImlkZW50aXR5LTE0IiwiaWF0IjoxNjA2MTM0NDMyLCJleHAiOjE2MDYxMzU2MzJ9.MFEwDQYJYIZIAWUDBAIDBQAEQC76zvhflnZyyc0DkPNYussdDl-Mz3IQnZXgunZEOtdephdaXDJmrPEU0Tz06Qg90bLgu5FBnwKO2Zb3jvRx-AU

[Mon Nov 23 2020 1

[2020-11-23 12:34] davidbiller commented on #132
![Bildschirmfoto 2020-11-23 um 13 33 27](https://user-images.githubusercontent.com/7137361/99962472-897ad080-2d90-11eb-94e8-d1571d518257.png)

[2020-11-23 12:44] #132 closed

[2020-12-09 08:57] HN00 opened #134 "Error: Have the issue when import EThree"
**Describe the bug**
I import EThree from '@virgilsecurity/e3kit-browser' and have the error when run on web.

**Screenshots**
![image](https://user-images.githubusercontent.com/49835271/101607478-3d3dba80-3a37-11eb-8c86-76d4acfa20a1.png)

[2020-12-10 06:01] HN00 commented on #134
<img width="1315" alt="Screen Shot 2020-12-10 at 13 01 07" src="https://user-images.githubusercontent.com/49835271/101727805-c7ddf280-3ae7-11eb-9e6f-c5608f8a89cf.png">
And I have the error when use "derivePassword" method.

[2020-12-15 20:58] arun-prasad-r opened #136 "Group Encryption: KeyknoxClientError while trying to add a member to a Group."
**Describe the bug**
I'm using e3kit js sdk. "@virgilsecurity/e3kit-browser": "^2.4.0",
I'm trying to  add an additional member to an existing group following the instructions in the documentation.
I am getting the following 400 error:
[code]

**To Reproduce**
[code]
^^ The group gets created successfully.

[code]

**Expected behavior**
Member should be added to the group.

**Screenshots**
<img wi

[2020-12-17 20:02] mbalyaba commented on #136
Hi Arun Prasad,
Thanks for the detailed issue description.
We will try to reproduce and reply as soon as possible.

[2020-12-21 21:35] mbalyaba commented on #136
Hi Arun Prasad,
We have tried to reproduce the issue, but without success.
All works as expected.
Please, could you provide more details about your sample code ? (maybe some complete test code block)

[2020-12-22 07:31] mbalyaba commented on #134
Hi HN00,
Does it actual ?

[2021-01-08 09:52] himalayaahuja commented on #113
Hi @xlwknx unfortunately the ioni example in the above link isn't working anymore and is throwing same errors of `libfoundation.browser.wasm 404 (Not Found)` etc

[2021-03-03 19:25] jeremyljohnson opened #137 "Upgrade of axios and ini libraries needed to resolve vulnerabilities"
**Describe the bug**
When installing the latest version of virgil-e3kit-js via npm, we see 2 vulnerabilities that require manual review.  Hopefully updating the version of axios to >=0.21.1 and ini to >1.3.6 will resolve the issue as per npm's output. Instead, we see vulnerability warnings for @virgilsecurity/keyknox and virgil-pythia:

 Manual Review                                 │
│

[2021-03-17 07:45] mbalyaba commented on #137
Hi @jeremyljohnson ,
We have published updated version 2.4.2.

[2021-03-17 07:45] #137 closed

[2021-03-17 07:45] mbalyaba commented on #137
Fixed version 2.4.2

[2021-03-17 07:52] #134 closed

[2021-06-16 20:06] berbaroovez opened #141 "Module not found: Can't resolve 'env' in /path/to/app/node_modules/@virgilsecurity/e3kit-browser/dist"
**Describe the bug**
I'm trying to follow the firebase end to end encryption guide for react. I'm using Next.js as my framework.  and I keep receiving the error  Module not found: Can't resolve 'env' in /path/to/app/node_modules/@virgilsecurity/e3kit-browser/dist . Does anyone have a fix for this ?

Heres my next.config.js

[code]
Here is my code when calling Ethree in one of my pages

[code]

[2021-06-17 12:15] #136 closed

[2021-06-18 02:50] berbaroovez opened #142 "./node_modules/@virgilsecurity/e3kit-browser/browser.es.js Attempted import error: './dist/libfoundation.browser.wasm' does not contain a default export (imported as 'foundationWasm')."
**Describe the bug**

Import error when trying to use

[code]

Mac Big Sur
NextJS 11

[2021-06-23 08:07] abhigyan2311 commented on #136
@mbalyaba : I am also facing this issue with nodejs SDK.

**CODE:**
![image](https://user-images.githubusercontent.com/5149209/123060005-f722d400-d427-11eb-8b53-9dede6d02258.png)

**ERROR:**
![image](https://user-images.githubusercontent.com/5149209/123060065-073ab380-d428-11eb-823f-61824f505e54.png)

[2021-06-23 08:09] abhigyan2311 opened #143 "KeynoxClient Error on adding group participant"
I am facing this issue with nodejs SDK.

**CODE:**
![image](https://user-images.githubusercontent.com/5149209/123060005-f722d400-d427-11eb-8b53-9dede6d02258.png)

**ERROR:**
![image](https://user-images.githubusercontent.com/5149209/123060065-073ab380-d428-11eb-823f-61824f505e54.png)

_Originally posted by @abhigyan2311 in https://github.com/VirgilSecurity/virgil-e3kit-js/issues/136#issuecomment-8

[2021-06-23 08:21] abhigyan2311 commented on #143
Ok I found what the issue is, if you try to add a participant which is already there in the group then that error is thrown.
Can we please have a more graceful error message/handling for that?

[2021-07-07 15:27] berbaroovez opened #144 "KeyEntryAlreadyExistsError: Key entry named RoSvYoIKEMM6NoecPtv0SQK0uWD3already exists"
I keep getting this error and the one  about multiple cards am i doing something wrong in my code?

I'm using firebase

[code]

[2021-07-07 19:16] mbalyaba commented on #143
Hi @abhigyan2311 ,
Thanks for the provided information.
We will try to add more graceful error message/handling for that case.

[2021-07-07 19:22] mbalyaba commented on #142
Hello @berbaroovez ,
Please, try to use next config:
`const withTM = require('next-transpile-modules')(['@virgilsecurity/e3kit-browser', 'virgil-crypto', '@virgilsecurity/pythia-crypto']);
module.exports = withTM({
  webpack5: false,
  webpack: (config, options) => {
    config.module.rules[config.module.rules.findIndex(rule => rule.oneOf)].oneOf.unshift({
      test: /\.wasm$/,
      type: 'javas

[2021-08-14 10:41] mbalyaba commented on #143
Fixed in version 2.4.5

[2021-08-14 10:41] #143 closed

[2021-08-14 10:51] mbalyaba commented on #142
Issue closed due to inactivity. Please reopen if it is still actual.

[2021-08-14 11:04] mbalyaba commented on #141
Hello @berbaroovez ,
Is the issue still actual ?

[2021-08-28 14:24] #141 closed

[2022-11-01 11:50] chinesehemp commented on #142
For anyone else having this issue, it is now Nov 2022, and I'm using NextJS 12.3.1 with Webpack5 as the bundler. I got e3kit with web assembly .wasm import working following the above suggestion. Here is my next.config.js file for ref.

[code]

[2022-11-10 12:31] chinesehemp commented on #142
A quick update. While the above config works locally. When I tried to deploy it to Firebase hosting, this resulted in an `[ERROR] Could not resolve "pnpapi"`

I'm building an E2EE chat app, and the error is blocking me from deploying the app. I'm using `firebase-cli` 11.16.0 to deploy, and below is the output from my terminal when I try to deploy.

[code]

I wonder if the above error is related to

[2022-11-10 13:35] chinesehemp commented on #142
@Scratch-net yes, I updated e3kit to 2.5.0 my package.json and my terminal output below for ref.

[code]

[code]

I get the same pnpapi error from enhanced-resolve when deploying to Firebase.

[2022-11-10 13:45] azirb commented on #142
Hello @chinesehemp! Problem can be inside e3kit-browser package, because e3kit-base version inside e3kit-browser is 2.4.5 without updated dependencies, it's my mistake, today or tomorrow  release a hot fix for this, ty for issue!
P.S We do not use webpack 5 in this kit, so i do not know why error can affect by this. After hot fix will test this.

[2022-11-10 14:47] chinesehemp commented on #142
Thank you, @azirb I look forward to trying out the hotfix when it's released.

[2022-11-11 11:16] azirb commented on #142
@chinesehemp Hotfix released, pls checkout mb problem is gone!

[2022-11-11 12:04] chinesehemp commented on #142
Hi @azirb, thank you for the update. I tried the new 2.5.1 release, but I have the same can't resolve pnpapi error as before when I tried to deploy my nextjs app to firebase. Here's my terminal output for ref.

[code]

My package.json for ref

[code]

[2022-11-14 10:32] azirb commented on #142
@chinesehemp Hello! Googled your bug and this problem not inside virgilsecurity package.
https://github.com/webpack/enhanced-resolve/issues/263
enhanced-resolve have this bug with webpack 5.4.0, try some answers from issue above!

[2022-11-14 10:49] chinesehemp commented on #142
Thank you @azirb I will do as you suggest. Appreciate your help!

[2022-11-15 07:19] marekbednar commented on #142
I am having the same issue [ERROR] 'default' is not exported by node_modules/@virgilsecurity/e3kit-browser/dist/libfoundation.browser.wasm, imported by node_modules/@virgilsecurity/e3kit-browser/browser.es.js

I am using Vite inside the Vaadin platform, and my vite config is
import { UserConfigFn } from 'vite';
import { overrideVaadinConfig } from './vite.generated';
import wasm from "vite-plugin-

[2022-11-15 10:02] marekbednar opened #150 "Vite: Rollup failed to resolve import "env" from "node_modules/@virgilsecurity/e3kit-browser/dist/libfoundation.browser.wasm"."
I am having the errors using Vite and vite wasm plugin:
[code]
I am using Vite inside the Vaadin platform, and my vite config is
[code]